.InfoBox {
  background-color: #ff9f00;
  color: black;
  display: flex;
  flex-direction: column;
}

.App .InfoBox ::selection {
  background-color: black;
  color: #ff9f00;
}

.InfoBox header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.InfoBox h2 {
  padding: 6px;
}

.InfoBox_title {
  background-color: black;
  color: #ff9f00;
}

.InfoBox_name {
  flex: 2;
  text-align: center;
}

.InfoBox_content {
  height: 100%;
  flex: 1;
  line-height: 1.6;
  overflow: hidden;
}

.InfoBox_inner-content {
  padding: 10px;
  height: calc(100%-20px);
}

.InfoBox_scrollbar {
  background-color: black;
  border-radius: 6px;
}