.Storyline img {
  float: left;
  max-height: 100px;
  width: auto;
}

.Storyline figcaption {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0.25em;
  font-family: AvenirLT-Medium, sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s, opacity 0.3s;
  opacity: 0;
}

.Storyline figcaption.Storyline_caption--dark {
  color: black;
}

.Storyline:hover figcaption {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.Storyline:hover .Storyline_caption--dark:not(.Storyline_caption--selected) {
  background-color: rgba(255, 255, 255, 0.6);
}

.Storyline figcaption.Storyline_caption--selected {
  opacity: 1;
  background-color: rgba(255, 159, 0, 0.8);
}
