.StorylineDetails {
  background-color: #ff9f00;
  color: black;
}

.StorylineDetails_header h2 {
  padding: 6px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: inline-block;
  float: right;
}

.StorylineDetails h3 {
  display: inline-block;
}

.StorylineDetails_content {
  padding: 10px;
}